.main-notes {
  display: flex;
  justify-content: center;
  .content {
    box-shadow: 0 1px 3px 1px rgba(88, 88, 88, 0.15);
    padding: 20px;
    border-radius: 16px;
    min-height: 195px;
    width: 800px;
    background: #ffffff;
  }
}

.flex-notes {
  display: flex;
  gap: 20px;
  position: relative;
  width: 900px;
  justify-content: center;
  &:hover .hover-icons {
    display: block;
  }
  .hover-icons {
    display: none;
    transition: all 0.5s;
    position: absolute;
    left: 8px;
    top: 10px;
    z-index: 1004;
    width: 28px;
    @media (max-width: 600px) {
      display: none;
    }
    .main {
      width: 28px;
      box-shadow: 0 1px 3px 1px rgba(88, 88, 88, 0.15);
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      padding-bottom: 4px;
      .bookmark-hover-icon {
        background: #eaf1ff;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        span {
          color: #0a3485;
        }
      }
      span {
        font-size: 17px;
        color: #8d8d8d;
      }
    }
  }
}
