<app-nav-bar [item$]="item$"></app-nav-bar>
<div class="main" #mainContainer>
  <div cdkDropList #bookmarkList="cdkDropList" [cdkDropListData]="items" [cdkDropListConnectedTo]="[notebookList, chatList]" class="bookmark-list"
    (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of items$ | async; let i = index" cdkDrag class="bookmark-item mt-4">
      <div>
        <app-bookmark-input [item]="item" (scrollRequest)="scrollMainContainerToBottom()">
          <div cdkDragHandle>
            <span class="material-symbols-outlined align-center drag" style="cursor: grab; opacity: 0.4">
              drag_indicator
            </span>
          </div>
        </app-bookmark-input>
      </div>
    </div>
  </div>
  <div cdkDropList #notebookList="cdkDropList" [cdkDropListData]="notebooks" [cdkDropListConnectedTo]="[bookmarkList, chatList]" class="notebook-list"
    (cdkDropListDropped)="drop($event)">
    <div *ngFor="let notebook of notebooks$ | async; let i = index" class="notebook-item mt-3" cdkDrag>
      <app-notes [notebook]="notebook"></app-notes>
    </div>
  </div>

  <div cdkDropList #chatList="cdkDropList" [cdkDropListData]="chatSessions" [cdkDropListConnectedTo]="[bookmarkList, notebookList]" class="chat-list"
    (cdkDropListDropped)="drop($event)">
    <div *ngFor="let chatSession of chatSessions$ | async; let sessionIndex = index" class="chat-session" cdkDrag>
      <div class="messages mt-3">
        <div class="flex-messages">
          <div *ngFor="let message of chatSession.messages"
            [ngClass]="{'user-message': message.sender === 'user', 'bot-message': message.sender === 'bot'}">
            <div class="align-center">
              <div class="main-ch">
                @if(chatSession.loading && message.sender === 'bot'){
                <mat-spinner diameter="30"></mat-spinner>
                }
                @if(message.sender === 'user'){
                <textarea (ngModelChange)="onContentChange()" matInput #autosize="cdkTextareaAutosize" cdkTextareaAutosize cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="30" *ngIf="isEditable(message)" type="text" [(ngModel)]="editingContent"
                  (blur)="onMessageEditDone(message, editingContent)" (keydown.enter)="onMessageEditEnter(message, editingContent, $event)"
                  class="input-chat-edit"></textarea>


                <p *ngIf="!isEditable(message)" (click)="startEditing(chatSession.id ,message)">{{ message.content }}</p>
                }
                @if(message.sender === 'bot'){
                <textarea matInput #autosize="cdkTextareaAutosize" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="30"
                  *ngIf="isEditable(message)" type="text" [(ngModel)]="editingContentBot" (blur)="onMessageEditDone(message, editingContentBot)"
                  (keydown.enter)="onMessageEditEnter(message, editingContentBot, $event)" class="input-chat-edit-bot"></textarea>

                <p *ngIf="!isEditable(message)" (click)="startEditing(chatSession.id ,message)">{{message.content }}</p>
                }
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div [class.hidden]="!showInput && !showButtons" class="btns-main justify-center gap-15" *ngIf="!showInput && showButtons">
    <div class="btns">
      <div class="web-bookmark-btn">
        <button mat-icon-button matTooltip="Add Web Bookmarks" matTooltipPosition="above" (click)="addNewBookmark()">
          <span class="material-symbols-outlined bookmark-icon"> bookmark </span>
        </button>
      </div>
      <div class="notes-btn">
        <button mat-icon-button matTooltip="Add Notes" matTooltipPosition="above" (click)="addNewNotebook()">
          <span class="material-symbols-outlined notes-icon"> add_notes </span>
        </button>
      </div>
    </div>
    <div class="chat-btn">
      <button mat-icon-button matTooltip="New Chat" matTooltipPosition="above" (click)="toggleChat()">
        <img src="/assets/icons/ai.svg" alt="">
      </button>
    </div>
    <div class="menu-btn">
      <button mat-icon-button matTooltip="More items" matTooltipPosition="above">
        <span class="material-symbols-outlined menu-icon"> more_vert </span>
      </button>
    </div>
  </div>
</div>

<div *ngIf="showInput" class="chat-input">
  <div class="">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Type a message</mat-label>
      <input matInput #chatInput placeholder="Ask me anything..." (keyup.enter)="onSendMessage(chatInput.value); chatInput.value=''">
    </mat-form-field>
    <button mat-icon-button matTooltip="Close" (click)="toggleChat()" matSuffix id="x-close">
      <span class="material-symbols-outlined"> close </span>
    </button>
    <div class="send-btn">
      <button mat-flat-button (click)="onSendMessage(chatInput.value)">Send</button>
    </div>
  </div>
</div>