<app-nav-bar [item$]="item$" [isMain]="isMain"></app-nav-bar>
<div class="main" #mainContainer>
  <div class="bookmark-list">
    <div *ngFor="let item of items$ | async; let i = index" class="bookmark-item mt-4">
      <div>
        <app-bookmark-input [item]="item" (scrollRequest)="scrollMainContainerToBottom()">
          <div cdkDragHandle>
            <span class="material-symbols-outlined align-center drag" style="cursor: grab; opacity: 0.4">
              drag_indicator
            </span>
          </div>
        </app-bookmark-input>
      </div>
    </div>
  </div>
  <div class="notebook-list">
    <div *ngFor="let notebook of notebooks$ | async; let i = index" class="notebook-item mt-3">
      <app-notes [notebook]="notebook">
        <div cdkDragHandle>
          <span class="material-symbols-outlined align-center drag" style="cursor: grab; opacity: 0.4">
            drag_indicator
          </span>
        </div>
      </app-notes>
    </div>
  </div>

  <div class="chat-list">
    <div *ngFor="let chatSession of chatSessions$ | async; let sessionIndex = index" class="chat-session">
      <div class="hover-icons">
        <div class="main-hover ">
          <div class="bookmark-hover-icon">
              <img src="/assets/icons/ai.svg" class="flex" alt="">
          </div>
          <div cdkDragHandle>
            <span class="material-symbols-outlined align-center drag" style="cursor: grab; opacity: 0.4">
              drag_indicator
            </span>
          </div>
          <div class="align-center">
            <span class="material-symbols-outlined pointer" (click)="delete(chatSession.id)">
              delete
            </span>
          </div>
          <div class="align-center">
            <span class="material-symbols-outlined pointer">
              visibility
            </span>
          </div>
        </div>
      </div>
      <div class="messages mt-3">
        <div class="flex-messages">
          <div *ngFor="let message of chatSession.messages"
            [ngClass]="{'user-message': message.sender === 'user', 'bot-message': message.sender === 'bot'}">
            <div class="align-center">
              <div class="main-ch">
                @if(chatSession.loading && message.sender === 'bot'){
                <mat-spinner diameter="30"></mat-spinner>
                }
                @if(message.sender === 'user'){
                <textarea (ngModelChange)="onContentChange()" matInput #autosize="cdkTextareaAutosize" cdkTextareaAutosize cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="30" *ngIf="isEditable(message)" type="text" [(ngModel)]="editingContent"
                  (blur)="onMessageEditDone(message, editingContent)" (keydown.enter)="onMessageEditEnter(message, editingContent, $event)"
                  class="input-chat-edit"></textarea>


                <p *ngIf="!isEditable(message)" (click)="startEditing(chatSession.id ,message)">{{ message.content }}</p>
                }
                @if(message.sender === 'bot'){
                <textarea matInput #autosize="cdkTextareaAutosize" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="30"
                  *ngIf="isEditable(message)" type="text" [(ngModel)]="editingContentBot" (blur)="onMessageEditDone(message, editingContentBot)"
                  (keydown.enter)="onMessageEditEnter(message, editingContentBot, $event)" class="input-chat-edit-bot"></textarea>

                <p *ngIf="!isEditable(message)" (click)="startEditing(chatSession.id ,message)">{{message.content }}</p>
                }
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btns-main justify-center gap-15">
    <div class="btns">
      <div class="web-bookmark-btn align-center ">
        <button class="flex" matTooltip="Add Web Bookmarks" matTooltipPosition="above" (click)="addNewBookmark()">
          <span class="material-symbols-outlined bookmark-icon flex" [ngClass]="{'active-tool': currentTool == 'bookmark'}"> bookmark </span>
        </button>
      </div>
      <div class="notes-btn align-center ">
        <button class="flex" matTooltip="Add Notes" matTooltipPosition="above" (click)="addNewNotebook()">
          <span class="material-symbols-outlined notes-icon flex" [ngClass]="{'active-tool': currentTool == 'note'}"> add_notes </span>
        </button>
      </div>

      <div class="chat-btn align-center ">
        <button class="flex" matTooltip="New Chat" matTooltipPosition="above" (click)="toggleChat()"
          [ngClass]="{'active-tool': currentTool == 'chat'}">
          <img src="/assets/icons/ai.svg" class="flex" alt="">
        </button>
      </div>
      <div class="menu-btn align-center ">
        <button matTooltip="More items" matTooltipPosition="above" class="flex">
          <span class="material-symbols-outlined menu-icon flex"> more_vert </span>
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showInput" class="chat-input">
  <mat-form-field appearance="outline">
    <input matInput #chatInput placeholder="Ask me anything..." (keyup.enter)="onSendMessage(chatInput.value); chatInput.value=''">
    <mat-icon matSuffix (click)="onSendMessage(chatInput.value)"><span class="material-symbols-outlined pointer">
        send
      </span></mat-icon>
  </mat-form-field>
</div>