.bookmark-main {
  padding-top: 56px;
  padding-bottom: 30px;
  height: 100vh;
  .main-align {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    .content {
    }
  }
}
