.home {
  padding-top: 120px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  .main {
    .create-div {
      width: 775px;
      @media(max-width: 820px){
        width: 500px;
      }
      @media(max-width: 550px){
            width: 300px;
      }
      mat-card {
        border-radius: 16px !important;
        background: #f7f9fe;
        mat-card-content {
          .content {
            display: flex;
            align-items: center;
            .icon {
              display: flex;
              span {
                color: #1457d9;
              }
            }
            .txt {
              p {
                font-weight: 500;
                font-size: 16px;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
