.footer {
  padding: 22px;
  .cancel-btn {
    background: white;
    color: #1457d9;
    border-radius: 20px;
    border: 1px solid #79747e;
    padding: 10px 24px;
  }

  .save-btn {
    background: #1457d9;
    color: white;
    border-radius: 20px;
    padding: 10px 24px;
  }
}
