<div class="main-toolbar">
  <mat-toolbar>

    <div class="flex">
      <div class="sales-proposal align-center pointer" routerLink="/home">
        <div class="header align-center">
          <div class="icon">
            <img src="/assets/images/logo.svg" width="30px" alt="" />
          </div>
        </div>
      </div>
      <ng-container *ngIf="item$ | async as item">
        <div class="title-res align-center">
          <div class="input-group custom-input-group pointer" routerLink="/home">
            <p>{{item.title}}</p>
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2"><i class="edit-icon fas fa-edit"></i></span>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="profile-side">
        <div class="profile">
          <div class="image">
            <div class="pic pointer">
              <img src="/assets/images/profile_pic.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-toolbar>
</div>