.flex-bookmark {
  display: flex;
  gap: 20px;
  position: relative;
  width: 900px;
  @media (max-width: 902px) {
    width: 600px;
  }
  @media (max-width: 650px) {
    width: 450px;
  }
  @media (max-width: 480px) {
    width: 360px;
  }
  @media (max-width: 400px) {
    width: 320px;
  }
  justify-content: center;
  background: #fafcfd;
  &:hover .hover-icons {
    display: block;
  }
  .hover-icons {
    display: none;
    transition: all 0.5s;
    position: absolute;
    left: 8px;
    top: 10px;
    z-index: 1004;
    width: 28px;
    .main {
      width: 28px;
      box-shadow: 0 1px 3px 1px rgba(88, 88, 88, 0.15);
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      padding-bottom: 4px;
      .bookmark-hover-icon {
        background: #eaf1ff;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        span {
          color: #0a3485;
        }
      }
      span {
        font-size: 17px;
        color: #8d8d8d;
      }
    }
  }
  .wrapper {
    width: 800px;
    @media (max-width: 902px) {
      width: 600px;
    }
    @media (max-width: 650px) {
      width: 450px;
    }
    @media (max-width: 480px) {
      width: 360px;
    }
    @media (max-width: 400px) {
      width: 320px;
    }
    border-radius: 16px;
    box-shadow: 0 1px 3px 1px rgba(88, 88, 88, 0.15);
    background: #ffffff;
    .title {
      .input-group {
        border-bottom: 1px solid #c9c9c9;
        padding: 10px 0px 10px 10px;
        align-items: center;
        input {
          font-weight: 400;
          box-shadow: none;
          border: none;
          background: transparent;
          height: 37px;
        }
        span {
          font-size: 22px;
          border: none;
          background: transparent;
          border-radius: 0;
          height: 37px;
        }
      }
    }
    .links {
      input {
        border-bottom: 1px solid #c9c9c9;
        border-left: none;
        border-right: none;
        border-top: none;
        box-shadow: none;
        background: transparent;
        color: #1457d9;
        font-size: 16px;
        border-radius: 0;
      }
      .left-span {
        font-size: 22px;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid #c9c9c9;
        background: transparent;
        padding: 5px 0px 5px 15px;
        border-radius: 0;
      }
      .right-span {
        font-size: 22px;
        border-left: none;
        border-bottom: 1px solid #c9c9c9;
        border-right: none;
        border-top: none;
        border-radius: 0;
        background: transparent;
      }
    }
    .textarea {
      display: flex;
      min-height: 54px;
      align-items: flex-end;
      padding-bottom: 6px;
      textarea {
        overflow-y: hidden;
        font-size: 14px;
        border: none;
        padding: 10px;
        width: 100%;
        background: transparent;
        resize: none;
        outline: none;
        text-indent: 10px;
      }
      button {
        padding-bottom: 2px;
      }
    }
  }
}

.dim-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.active-wrapper {
  z-index: 1002;
  position: relative;
  background: white;
}

.cdk-drag-handle {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background-color: transparent;
  cursor: move;
}

.link-image {
  width: 16px;
  height: 16px;
  margin-top: 9px;
}
