/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "Material Icons";
  font-display: block;
}

.pointer {
  cursor: pointer;
}

.align-center {
  display: flex;
  align-items: center;
}

#context-menu {
  border-radius: 30px;
  height: 48px;
  align-items: center;
  width: 626px;
}

.mat-button-toggle {
  width: 190px;
  color: #052053;
  font-weight: 500;
  font-size: 13px;
}

.justify-center {
  display: flex !important;
  justify-content: center !important;
}

.justify-betwen {
  display: flex;
  justify-content: space-between;
}

.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background-color: #cce9fe !important;
  color: #052053 !important;
}

.custom-container .mat-dialog-container {
  border-radius: 20px !important;
}

.blue-text {
  color: #052053;
}

.full-width {
  width: 100%;
}

.hide-toolbar .ck-editor__top {
  display: none;
}

#search {
  width: 100%;
  border-radius: 50% !important;
}

#search .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 28px !important;
}

#search .mat-mdc-form-field-icon-suffix,
[dir="rtl"] .mat-mdc-form-field-icon-prefix {
  margin-right: 20px !important;
}

.mat-mdc-menu-item-text {
  display: flex;
  gap: 10px;
  align-items: center;
}

div.mat-mdc-autocomplete-panel {
  border-radius: 12px !important;
  margin-top: 10px !important;
  padding: 15px 5px !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px #d9d9d9;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #9c9c9c;
}

.mat-mdc-menu-panel {
  min-width: 194px !important;
}

.mat-expansion-panel-header {
  background: #eef2f8 !important;
  height: 64px !important;
  padding: 0 0px 0 22px !important;
  &:hover {
    background: #eef2f8 !important;
  }
}

.mat-expansion-panel-header-description {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex-basis: 1 !important;
}

.mat-expansion-panel-body {
  font-size: 16px;
  padding: 24px 24px 16px;
  background: #f7f9fe;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-grow: 8 !important;
  flex-basis: 1 !important;
}

.dense-2 {
  @include mat.all-component-densities(-3);
}

mat-card {
  box-shadow: none !important;
}

mat-expansion-panel {
  box-shadow: none !important;
}

.mdc-button__label {
  display: flex;
  align-items: center;
}

#unlink-,
#foregroundColorPicker-,
#backgroundColorPicker-,
#insertVideo-,
#insertHorizontalRule-,
#toggleEditorMode-,
#clearFormatting-,
#justifyFull-,
#justifyLeft-,
#justifyCenter-,
#justifyRight-,
#subscript-,
#superscript-,
#strikeThrough- {
  display: none;
}

.select-font,
.select-font-size,
.ae-picker-label {
  display: none !important;
}

.edit-mode {
  background-color: lightblue;
}

.editor p {
  min-height: 120px !important;
}
